.Project-main {
    margin-top: 5rem;
    margin-bottom: 5rem;

    column-count: 1;
    margin-left: 2rem;
    margin-right: 2rem;
}
.Project-main >* {
    break-inside: avoid;

}

@media screen and (min-width: 786px) {
    .Project-main {
        column-count: 2;
    }
}

@media screen and (min-width: 992px) {
    .Project-main {
        column-count: 3;
    }
}

@media screen and (min-width: 1200px) {
    .Project-main {
        column-count: 4;
        margin-left: 15rem;
        margin-right: 15rem;
    }
}
